<div style="margin-top: 1rem;">
  <a role="button" href="/team" class="btn btn-primary btn-block">View list teams</a>
  <a role="button" href="/newTeam" class="btn btn-secondary btn-block">Create team</a>
</div>